<div class="row ">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Minutes</th>

            </tr>
        </thead>
        <tbody>
        {{#each items}}


        <tr class={{class}}>
            <th>{{date}}</th>
            <td>{{minutes}}</td>

        </tr>


        {{else}}

        <p>No Date/Minutes listed</p>
        {{/each}}
        </tbody>
    </table>

</div>